body {
            font-family: Arial, sans-serif;
            background-color: #f3e5f5; 
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        #header {
            background: #7b1fa2; 
            color: white;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #4a148c 3px solid; 
        }
        #header h1 {
            text-align: center;
            padding: 5px;
        }
        #header h3 {
            text-align: center;
            padding: 5px;

        }
        #download-link {
            display: block;
            width: 240px;
            height: 50px;
            margin: 20px auto;
            background: #4a148c; 
            color: #fff;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            font-size: 25px;
            border-radius: 18px;
        }
        #app-details {
            text-align: center;
            padding: 20px;
        }
        #app-details ul {
            list-style-type: none; 
            padding: 0;
        }

        #app-details ul li {
            padding: 10px 0; 
        }
        #platform {
            display: block;
            width: 60;
            height: 50px;
            margin: 30px auto;
            text-align: center;
            font-family: Arial, sans-serif; 
            color: rgb(104, 19, 201); 
            font-size: 20px; 
        }
        footer {
            text-align: center;
            padding: 10px;
            background-color: #f2f2f2;
            position: center;
            bottom: 0;
            width: 100%;
        }
